.home, .settings{
    background:color($colors, primary);
    color:color($colors, light);
    margin-top:30px;
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color: #ccc
}

.temperature{
    font-size:90px;
    text-align:center;
    font-weight:normal;
}

.location, .icon, .description{
    text-align:center;
}

.icon img{
    width:80px;
}

.location{
    font-size:40px;
}

.description{
    font-size:30px;
}

.save{
    background:darkblue;
}

.save:hover{
    background-color: green !important;
}

.settings .item-inner{
    box-shadow: none !important;
}

.settings .item-block .item-inner{
    border-bottom: 0px solid #dedede;
}

.home .item-md{
    padding-right:16px !important;
}